@import url(https://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* To use the light Solarized highlighting theme uncomment the following line */
/* If you want to tweak the Solarized colors you can do that here */
/* Non highlighted code colors */
/* non highlighted code colors */
/* Navigation */
/* Sidebar colors */
/* Core theme application */
a {
  color: #21afd3;
}
a:visited {
  color: #21afd3;
}
a:focus {
  color: #ff6557;
}
a:hover {
  color: #ff6557;
}
a:active {
  color: #ff6557;
}

aside.sidebar a {
  color: #21afd3;
}
aside.sidebar a:focus {
  color: #ff6557;
}
aside.sidebar a:hover {
  color: #ff6557;
}
aside.sidebar a:active {
  color: #ff6557;
}

a {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

html {
  background: #e8e8e8;
}

body > div#main {
  background: #f4f4f4;
  border-bottom: 1px solid #d0d0d0;
}
body > div#main > div#content {
  background: white;
  border-right: 1px solid #e2e2e2;
}

div#stripe1 {
  width: 100%;
  height: 5px;
  background: #86B4B9;
}

div#stripe2 {
  width: 100%;
  height: 5px;
  background: #EEC966;
}

@font-face {
  font-family: 'asapbold';
  src: url("/assets/Asap-Bold-webfont.eot");
  src: url("/assets/Asap-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/Asap-Bold-webfont.woff2") format("woff2"), url("/assets/Asap-Bold-webfont.woff") format("woff"), url("/assets/Asap-Bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'asapbold';
  src: url("/assets/Asap-Bold-webfont.eot");
  src: url("/assets/Asap-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/Asap-Bold-webfont.woff2") format("woff2"), url("/assets/Asap-Bold-webfont.woff") format("woff"), url("/assets/Asap-Bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'cascadia_code';
  src: url("/assets/cascadiacode-bold-webfont.woff2") format("woff2"), url("/assets/cascadiacode-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'cascadia_code';
  src: url("/assets/cascadiacode-regular-webfont.woff2") format("woff2"), url("/assets/cascadiacode-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.heading, body > header h1, h1, h2, h3, h4, h5, h6 {
  font-family: "asapbold", "Helvetica Neue", Arial, sans-serif;
}

.sans, body, body > header h2, article header p.meta, article > footer, #content .blog-index footer, html .gist .gist-file .gist-meta, #blog-archives a.category, #blog-archives time, aside.sidebar section, body > footer {
  font-family: "Arimo", "Helvetica Neue", Arial, sans-serif;
}

.serif, #content .blog-index a[rel=full-article] {
  font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
}

.mono, pre, code, tt, p code, li code {
  font-family: "cascadia_code", monospace;
}

body > header h1 {
  font-size: 1.7em;
  font-family: "asapbold", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 0.6667em;
}

body > header h1 img {
  position: relative;
  left: 7px;
  top: -15px;
  z-index: 1;
  float: left;
}

body > header h2 {
  font-family: "asapbold", "Helvetica Neue", Arial, sans-serif;
}

body {
  line-height: 1.4em;
  color: #222222;
  font-size: 17px;
}

h1 {
  font-size: 2.34em;
  line-height: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizelegibility;
  margin-bottom: 1em;
  font-weight: bold;
}

h2, section h1 {
  font-size: 1.8em;
}

h3, section h2, section section h1 {
  font-size: 1.5em;
}

h4, section h3, section section h2, section section section h1 {
  font-size: 1em;
}

h5, section h4, section section h3 {
  font-size: .9em;
}

h6, section h5, section section h4, section section section h3 {
  font-size: .8em;
}

p, article blockquote, ul, ol, article table {
  margin-bottom: 1.5em;
}

ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
  margin-bottom: 0px;
}
ul ul ul {
  list-style-type: square;
  margin-bottom: 0px;
}

ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
  margin-bottom: 0px;
}
ol ol ol {
  list-style-type: lower-roman;
  margin-bottom: 0px;
}

ul, ul ul, ul ol, ol, ol ul, ol ol {
  margin-left: 2.3em;
}

ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0em;
}

dt {
  font-weight: bold;
  margin-bottom: 0.8em;
}

dd {
  margin-left: 2.3em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

sup, sub {
  font-size: 0.75em;
  position: relative;
  display: inline-block;
  padding: 0 .2em;
  line-height: .8em;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.5em;
}

a[rev='footnote'] {
  font-size: .75em;
  padding: 0 .3em;
  line-height: 1;
}

q {
  font-style: italic;
}
q:before {
  content: "\201C";
}
q:after {
  content: "\201D";
}

em, dfn {
  font-style: italic;
}

strong, dfn {
  font-weight: bold;
}

del, s {
  text-decoration: line-through;
}

abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

hr {
  margin-bottom: 0.2em;
}

small {
  font-size: .8em;
}

big {
  font-size: 1.2em;
}

article blockquote {
  font-style: italic;
  position: relative;
  line-height: 1.4em;
  padding-left: 2.3em;
}
article blockquote cite {
  font-style: italic;
}
article blockquote cite a {
  color: #aaaaaa !important;
  word-wrap: break-word;
}
article blockquote cite:before {
  content: '\2014';
  padding-right: .3em;
  padding-left: .3em;
  color: #aaaaaa;
}

.pullquote-right:before,
.pullquote-left:before {
  /* Reset metrics. */
  padding: 0;
  border: none;
  /* Content */
  content: attr(data-pullquote);
  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 45%;
  margin: .5em 0 1em 1.5em;
  /* Baseline correction */
  position: relative;
  top: 7px;
  font-size: 1.4em;
  line-height: 1.45em;
}

.pullquote-left:before {
  /* Make left pullquotes align properly. */
  float: left;
  margin: .5em 1.5em 1em 0;
}

/* @extend this to force long lines of continuous text to wrap */
.force-wrap {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.btc-address {
  font-family: Lucida Sans Unicode,Arial,Sans-Serif;
  font-size: 12.75px;
  color: #707099;
}

.standout-text {
  font-size: 112%;
  padding-left: 35px;
  color: #6161AD;
  font-style: italic;
}

.group, body > header, body > nav, body > footer, body #content > article, body #content > div > article, body #content > div > section, body div.pagination, aside.sidebar, #main, #content, .sidebar {
  *zoom: 1;
}
.group:after, body > header:after, body > nav:after, body > footer:after, body #content > article:after, body #content > div > section:after, body div.pagination:after, #main:after, #content:after, .sidebar:after {
  content: "";
  display: table;
  clear: both;
}

body {
  -webkit-text-size-adjust: none;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 15px;
}
body > header, body > nav, body > footer, body #content > article, body #content > div > article, body #content > div > section {
  padding-left: 18px;
  padding-right: 18px;
}
@media only screen and (min-width: 480px) {
  body > header, body > nav, body > footer, body #content > article, body #content > div > article, body #content > div > section {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media only screen and (min-width: 768px) {
  body > header, body > nav, body > footer, body #content > article, body #content > div > article, body #content > div > section {
    padding-left: 35px;
    padding-right: 35px;
  }
}
body div.pagination {
  margin-left: 18px;
  margin-right: 18px;
}
@media only screen and (min-width: 480px) {
  body div.pagination {
    margin-left: 25px;
    margin-right: 25px;
  }
}
@media only screen and (min-width: 768px) {
  body div.pagination {
    margin-left: 35px;
    margin-right: 35px;
  }
}
body > header {
  font-size: 0.8em;
  padding-top: 16px;
  padding-bottom: 0px;
}

#content {
  overflow: hidden;
}
#content > div, #content > article {
  width: 100%;
}

aside.sidebar {
  float: none;
  padding: 0 18px 1px;
  background-color: #f9f9f9;
  border-top: 1px solid #e2e2e2;
}

.flex-content, article img, article video, article .flash-video {
  max-width: 100%;
  height: auto;
}

.basic-alignment.left, article img.left, article video.left, article .left.flash-video {
  float: left;
  margin-right: 1.5em;
}
.basic-alignment.right, article img.right, article video.right, article .right.flash-video {
  float: right;
  margin-left: 1.5em;
}
.basic-alignment.center, article img.center, article video.center, article .center.flash-video {
  display: block;
  margin: 0 auto 1.5em;
}
.basic-alignment.left, article img.left, article video.left, article .left.flash-video, .basic-alignment.right, article img.right, article video.right, article .right.flash-video {
  margin-bottom: .8em;
}

.toggle-sidebar, .no-sidebar .toggle-sidebar {
  display: none;
}

@media only screen and (min-width: 750px) {
  body.sidebar-footer aside.sidebar {
    float: none;
    width: auto;
    clear: left;
    margin: 0;
    padding: 0 35px 1px;
    background-color: #f9f9f9;
    border-top: 1px solid #ececec;
  }
  body.sidebar-footer aside.sidebar section.odd, body.sidebar-footer aside.sidebar section.even {
    float: left;
    width: 48%;
  }
  body.sidebar-footer aside.sidebar section.odd {
    margin-left: 0;
  }
  body.sidebar-footer aside.sidebar section.even {
    margin-left: 4%;
  }
  body.sidebar-footer aside.sidebar.thirds section {
    width: 30%;
    margin-left: 5%;
  }
  body.sidebar-footer aside.sidebar.thirds section.first {
    margin-left: 0;
    clear: both;
  }
}
body.sidebar-footer #content {
  margin-right: 0px;
}
body.sidebar-footer .toggle-sidebar {
  display: none;
}

@media only screen and (min-width: 550px) {
  body > header {
    font-size: 0.8em;
  }
}
@media only screen and (min-width: 750px) {
  aside.sidebar {
    float: none;
    width: auto;
    clear: left;
    margin: 0;
    padding: 0 35px 1px;
    background-color: #f9f9f9;
    border-top: 1px solid #ececec;
  }
  aside.sidebar section.odd, aside.sidebar section.even {
    float: left;
    width: 48%;
  }
  aside.sidebar section.odd {
    margin-left: 0;
  }
  aside.sidebar section.even {
    margin-left: 4%;
  }
  aside.sidebar.thirds section {
    width: 30%;
    margin-left: 5%;
  }
  aside.sidebar.thirds section.first {
    margin-left: 0;
    clear: both;
  }
}
@media only screen and (min-width: 768px) {
  body {
    -webkit-text-size-adjust: auto;
  }

  body > header {
    font-size: 0.8em;
  }

  #main {
    padding: 0;
    margin: 0 auto;
  }

  #content {
    overflow: visible;
    margin-right: 240px;
    position: relative;
  }
  .no-sidebar #content {
    margin-right: 0;
    border-right: 0;
  }
  .collapse-sidebar #content {
    margin-right: 20px;
  }
  #content > div, #content > article {
    padding-top: 8.75px;
    padding-bottom: 17.5px;
    float: left;
  }

  aside.sidebar {
    width: 210px;
    padding: 0 15px 15px;
    background: none;
    clear: none;
    float: left;
    margin: 0 -100% 0 0;
  }
  aside.sidebar section {
    width: auto;
    margin-left: 0;
  }
  aside.sidebar section.odd, aside.sidebar section.even {
    float: none;
    width: auto;
    margin-left: 0;
  }
  .collapse-sidebar aside.sidebar {
    float: none;
    width: auto;
    clear: left;
    margin: 0;
    padding: 0 35px 1px;
    background-color: #f9f9f9;
    border-top: 1px solid #ececec;
  }
  .collapse-sidebar aside.sidebar section.odd, .collapse-sidebar aside.sidebar section.even {
    float: left;
    width: 48%;
  }
  .collapse-sidebar aside.sidebar section.odd {
    margin-left: 0;
  }
  .collapse-sidebar aside.sidebar section.even {
    margin-left: 4%;
  }
  .collapse-sidebar aside.sidebar.thirds section {
    width: 30%;
    margin-left: 5%;
  }
  .collapse-sidebar aside.sidebar.thirds section.first {
    margin-left: 0;
    clear: both;
  }
}
body > header {
  background: #6a8ba7;
  height: 76px;
}
body > header h1 {
  display: inline-block;
  position: relative;
  top: 20px;
  left: -16px;
  text-shadow: 1px 1px 1px #444455;
}
body > header h1 a, body > header h1 a:visited, body > header h1 a:hover {
  color: #f2f2f2;
  text-decoration: none;
}
body > header h2 {
  margin: .2em 0 0;
  font-size: 1em;
  color: #aaaaaa;
  font-weight: normal;
}

body > nav {
  position: relative;
  background-color: #dddddd;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f1), color-stop(50%, #dddddd), color-stop(100%, #c9c9c9));
  background: -webkit-linear-gradient(#f1f1f1, #dddddd, #c9c9c9);
  background: -moz-linear-gradient(#f1f1f1, #dddddd, #c9c9c9);
  background: -o-linear-gradient(#f1f1f1, #dddddd, #c9c9c9);
  background: linear-gradient(#f1f1f1, #dddddd, #c9c9c9);
  border-top: 1px solid white;
  border-bottom: 1px solid #9d9d9d;
  padding-top: .28em;
  padding-bottom: .45em;
}
body > nav form {
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  margin: 0;
  padding: 0;
}
body > nav form .search {
  padding: .3em .5em 0;
  font-size: .85em;
  font-family: "Arimo", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.1em;
  width: 95%;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: #e2e2e2 0 1px;
  -moz-box-shadow: #e2e2e2 0 1px;
  box-shadow: #e2e2e2 0 1px;
  background-color: white;
  border: 1px solid #c4c4c4;
  color: #888;
}
body > nav form .search:focus {
  color: #444;
  border-color: #80b1df;
  -webkit-box-shadow: #80b1df 0 0 4px, #80b1df 0 0 3px inset;
  -moz-box-shadow: #80b1df 0 0 4px, #80b1df 0 0 3px inset;
  box-shadow: #80b1df 0 0 4px, #80b1df 0 0 3px inset;
  background-color: #fff;
  outline: none;
}
body > nav fieldset[role=search] {
  float: right;
  width: 48%;
}
body > nav fieldset.mobile-nav {
  float: left;
  width: 48%;
}
body > nav fieldset.mobile-nav select {
  width: 100%;
  font-size: .8em;
  border: 1px solid #888;
}
body > nav ul {
  display: none;
}
@media only screen and (min-width: 550px) {
  body > nav {
    font-size: .9em;
  }
  body > nav ul {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1;
    float: left;
    display: block;
    padding-top: .15em;
  }
  body > nav ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 0;
    padding-right: 0;
  }
  body > nav ul li:first-child, body > nav ul li.first {
    padding-left: 0;
  }
  body > nav ul li:last-child {
    padding-right: 0;
  }
  body > nav ul li.last {
    padding-right: 0;
  }
  body > nav ul.subscription {
    margin-left: .8em;
    float: right;
  }
  body > nav ul.subscription li:last-child a {
    padding-right: 0;
  }
  body > nav ul li {
    margin: 0;
  }
  body > nav a {
    color: #7c7c7c;
    font-family: "Arimo", "Helvetica Neue", Arial, sans-serif;
    text-shadow: #fcfcfc 0 1px;
    float: left;
    text-decoration: none;
    font-size: 1.1em;
    padding: .1em 0;
    line-height: 1.5em;
  }
  body > nav a:visited {
    color: #7c7c7c;
  }
  body > nav a:hover {
    color: #3c3c3c;
  }
  body > nav li + li {
    border-left: 1px solid #c1c1c1;
    margin-left: .8em;
  }
  body > nav li + li a {
    padding-left: .8em;
    border-left: 1px solid #efefef;
  }
  body > nav form {
    float: right;
    text-align: left;
    padding-left: .8em;
    width: 175px;
  }
  body > nav form .search {
    width: 93%;
    font-size: .95em;
    line-height: 1.2em;
  }
  body > nav ul[data-subscription$=email] + form {
    width: 97px;
  }
  body > nav ul[data-subscription$=email] + form .search {
    width: 91%;
  }
  body > nav fieldset.mobile-nav {
    display: none;
  }
  body > nav fieldset[role=search] {
    width: 99%;
  }
}

.no-placeholder body > nav .search {
  background: white url('/images/search.png?1494438149') 0.3em 0.25em no-repeat;
  text-indent: 1.3em;
}

@media only screen and (min-width: 550px) {
  .maskImage body > nav ul[data-subscription$=email] + form {
    width: 123px;
  }
}
.maskImage ul.subscription {
  position: relative;
  top: 0.15em;
}
.maskImage ul.subscription li, .maskImage ul.subscription a {
  border: 0;
  padding: 0;
}
.maskImage a[rel=follow-twitter] {
  position: relative;
  top: 0px;
  text-indent: -999999em;
  background-color: #efefef;
  border: 0;
  padding: 0;
}
.maskImage a[rel=follow-twitter], .maskImage a[rel=follow-twitter]:after {
  -webkit-mask-image: url('/images/bird_32_gray.png?1494438149');
  -moz-mask-image: url('/images/bird_32_gray.png?1494438149');
  -ms-mask-image: url('/images/bird_32_gray.png?1494438149');
  -o-mask-image: url('/images/bird_32_gray.png?1494438149');
  mask-image: url('/images/bird_32_gray.png?1494438149');
  -webkit-mask-repeat: no-repeat;
  -moz-mask-repeat: no-repeat;
  -ms-mask-repeat: no-repeat;
  -o-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  width: 32px;
  height: 23px;
}
.maskImage a[rel=follow-twitter]:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  background-color: #bcbcbc;
}
.maskImage a[rel=follow-twitter]:hover:after {
  background-color: #afafaf;
}
.maskImage a[rel=subscribe-rss] {
  position: relative;
  top: 0px;
  text-indent: -999999em;
  background-color: #efefef;
  border: 0;
  padding: 0;
}
.maskImage a[rel=subscribe-rss], .maskImage a[rel=subscribe-rss]:after {
  -webkit-mask-image: url('/images/rss.png?1494438149');
  -moz-mask-image: url('/images/rss.png?1494438149');
  -ms-mask-image: url('/images/rss.png?1494438149');
  -o-mask-image: url('/images/rss.png?1494438149');
  mask-image: url('/images/rss.png?1494438149');
  -webkit-mask-repeat: no-repeat;
  -moz-mask-repeat: no-repeat;
  -ms-mask-repeat: no-repeat;
  -o-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  width: 22px;
  height: 22px;
}
.maskImage a[rel=subscribe-rss]:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  background-color: #bcbcbc;
}
.maskImage a[rel=subscribe-rss]:hover:after {
  background-color: #afafaf;
}
.maskImage a[rel=subscribe-email] {
  position: relative;
  top: 0px;
  text-indent: -999999em;
  background-color: #efefef;
  border: 0;
  padding: 0;
}
.maskImage a[rel=subscribe-email], .maskImage a[rel=subscribe-email]:after {
  -webkit-mask-image: url('/images/email.png?1494438149');
  -moz-mask-image: url('/images/email.png?1494438149');
  -ms-mask-image: url('/images/email.png?1494438149');
  -o-mask-image: url('/images/email.png?1494438149');
  mask-image: url('/images/email.png?1494438149');
  -webkit-mask-repeat: no-repeat;
  -moz-mask-repeat: no-repeat;
  -ms-mask-repeat: no-repeat;
  -o-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  width: 28px;
  height: 22px;
}
.maskImage a[rel=subscribe-email]:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  background-color: #bcbcbc;
}
.maskImage a[rel=subscribe-email]:hover:after {
  background-color: #afafaf;
}

article {
  padding-top: 1em;
}
article header {
  position: relative;
  padding-bottom: 1em;
  margin-bottom: 1em;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x;
}
article header h1 {
  margin: 0;
}
article header h1 a {
  text-decoration: none;
}
article header h1 a:hover {
  text-decoration: underline;
}
article header p {
  font-size: .9em;
  color: #aaaaaa;
  margin: 0;
}
article header p.meta {
  text-transform: uppercase;
  margin-bottom: 0.7em;
}
@media only screen and (min-width: 768px) {
  article header {
    margin-bottom: 1.5em;
    padding-bottom: 1em;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x;
  }
}
article h2 {
  padding-top: 0.8em;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') top left repeat-x;
}
.entry-content article h2:first-child, article header + h2 {
  padding-top: 0;
}
article h2:first-child, article header + h2 {
  background: none;
}
article .feature {
  padding-top: .5em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x;
  font-size: 2.0em;
  font-style: italic;
  line-height: 1.3em;
}
article video, article .flash-video, article audio, article svg {
  margin: 0 auto 1.5em;
}
article video, article audio, article svg {
  display: block;
}
article .flash-video > div {
  position: relative;
  display: block;
  padding-bottom: 56.25%;
  padding-top: 1px;
  height: 0;
  overflow: hidden;
}
article .flash-video > div iframe, article .flash-video > div object, article .flash-video > div embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
article > footer p.meta {
  margin-top: .8em;
  margin-bottom: .8em;
  font-size: .85em;
  clear: both;
  overflow: hidden;
}
article > footer .sharebuttons {
  margin-top: .8em;
}
article > footer .tweet_this {
  margin-right: 9px;
}

.blog-index article + article {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') top left repeat-x;
}

#content .blog-index {
  padding-top: 0;
  padding-bottom: 0;
}
#content .blog-index article {
  padding-top: 2em;
}
#content .blog-index article header {
  background: none;
  padding-bottom: 0;
}
#content .blog-index article h1 {
  font-size: 2.2em;
}
#content .blog-index article h1 a {
  color: inherit;
}
#content .blog-index article h1 a:hover {
  color: #ff6557;
}
#content .blog-index a[rel=full-article] {
  background: #f2f2f2;
  display: inline-block;
  padding: .4em .8em;
  margin-right: .5em;
  text-decoration: none;
  color: #666666;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
#content .blog-index a[rel=full-article]:hover {
  background: #ff6557;
  text-shadow: none;
  color: white;
}
#content .blog-index footer {
  padding-bottom: 2.5em;
  margin-top: 1em;
}

.separator, article > footer .byline + time:before, article > footer time + time:before, article > footer .comments:before, article > footer .byline ~ .categories:before {
  content: "\2022 ";
  padding: 0 .4em 0 .2em;
  display: inline-block;
}

#content div.pagination {
  text-align: center;
  font-size: .95em;
  position: relative;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') top left repeat-x;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
#content div.pagination a {
  text-decoration: none;
  color: #aaaaaa;
}
#content div.pagination a.prev {
  position: absolute;
  left: 0;
}
#content div.pagination a.next {
  position: absolute;
  right: 0;
}
#content div.pagination a:hover {
  color: #ff6557;
}
#content div.pagination a[href*=archive]:before, #content div.pagination a[href*=archive]:after {
  content: '\2014';
  padding: 0 .3em;
}

p.meta + .sharing {
  padding-top: 1em;
  padding-left: 0;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') top left repeat-x;
}

#fb-root {
  display: none;
}

.highlight table td.code, html .gist .gist-file .gist-syntax .gist-highlight table td.code {
  width: 100%;
}

.highlight .line-numbers, html .gist .gist-file .gist-syntax .highlight .line_numbers {
  text-align: right;
  font-size: 12.75px;
  line-height: 1.38em;
  padding: .8em !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.highlight .line-numbers span, html .gist .gist-file .gist-syntax .highlight .line_numbers span {
  color: #93a1a1 !important;
}

.gist .highlight *::-moz-selection, figure.code .highlight *::-moz-selection {
  background: white;
  color: inherit;
  text-shadow: #f6f6f6 0 1px;
}
.gist .highlight *::-webkit-selection, figure.code .highlight *::-webkit-selection {
  background: white;
  color: inherit;
  text-shadow: #f6f6f6 0 1px;
}
.gist .highlight *::selection, figure.code .highlight *::selection {
  background: white;
  color: inherit;
  text-shadow: #f6f6f6 0 1px;
}

html .gist .gist-file {
  margin-bottom: 1.8em;
  position: relative;
  border: none;
  padding-top: 26px !important;
}
html .gist .gist-file .highlight {
  margin-bottom: 0;
}
html .gist .gist-file .gist-syntax {
  border-bottom: 0 !important;
  background: none !important;
}
html .gist .gist-file .gist-syntax .gist-highlight {
  background: #f6f6f6 !important;
}
html .gist .gist-file .gist-syntax .highlight pre {
  padding: 0;
}
html .gist .gist-file .gist-meta {
  padding: .6em 0.8em;
  border: 1px solid #f1ecdc !important;
  color: #93a1a1;
  font-size: .7em !important;
  background: #fbfbfb;
  border-top: 1px solid #fbfbfb !important;
  line-height: 1.5em;
}
html .gist .gist-file .gist-meta a {
  color: #5e6869 !important;
  text-decoration: none;
}
html .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
html .gist .gist-file .gist-meta a:hover {
  color: #292f31 !important;
}
html .gist .gist-file .gist-meta a[href*='#file'] {
  position: absolute;
  top: 0;
  left: 0;
  right: -10px;
  color: #474747 !important;
}
html .gist .gist-file .gist-meta a[href*='#file']:hover {
  color: #21afd3 !important;
}
html .gist .gist-file .gist-meta a[href*=raw] {
  top: .4em;
}

pre {
  background: #f6f6f6;
  border: 1px solid #eeeeee;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  line-height: 1.38em;
  font-size: 13.81px;
  margin-bottom: 2.1em;
  padding: .8em 1em;
  color: #292f31;
  overflow: auto;
}

pre.bluecode {
  background: #00325B;
  color: #FFD27D;
}

h3.filename + pre {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}

p code, li code {
  display: inline-block;
  white-space: no-wrap;
  background: #f6f6f6;
  font-size: .9em;
  line-height: 1.5em;
  color: #464646;
  border: 1px solid #eeeeee;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  padding: 0 .3em;
  margin: -1px 0;
}
p a code, p a:visited code, li a code, li a:visited code {
  color: #21afd3;
}
p a:active code, p a:hover code, li a:active code, li a:hover code {
  color: #ff6557;
}
p pre code, li pre code {
  font-size: 1em !important;
  background: none;
  border: none;
}

.pre-code, html .gist .gist-file .gist-syntax .highlight pre, .highlight code {
  font-family: "cascadia_code", monospace !important;
  overflow: scroll;
  overflow-y: hidden;
  display: block;
  padding: .8em;
  overflow-x: auto;
  line-height: 1.38em;
  background: #f6f6f6 !important;
  color: #292f31 !important;
  /* Comment */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Operator */
  /* Operator.Word */
  /* Generic.Deleted */
  /* Generic.Deleted.Specific */
  /* Generic.Emph */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Inserted.Specific */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Name.Variable */
  /* Literal.Number.Float */
  /* Literal.Number */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.String */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Interpol */
  /* Literal.String.Regex */
  /* Literal.String.Single */
}
.pre-code span, html .gist .gist-file .gist-syntax .highlight pre span, .highlight code span {
  color: #292f31 !important;
}
.pre-code span, html .gist .gist-file .gist-syntax .highlight pre span, .highlight code span {
  font-style: normal !important;
  font-weight: normal !important;
}
.pre-code .c, html .gist .gist-file .gist-syntax .highlight pre .c, .highlight code .c {
  color: #93a1a1 !important;
  font-style: italic !important;
}
.pre-code .cm, html .gist .gist-file .gist-syntax .highlight pre .cm, .highlight code .cm {
  color: #93a1a1 !important;
  font-style: italic !important;
}
.pre-code .cp, html .gist .gist-file .gist-syntax .highlight pre .cp, .highlight code .cp {
  color: #93a1a1 !important;
  font-style: italic !important;
}
.pre-code .c1, html .gist .gist-file .gist-syntax .highlight pre .c1, .highlight code .c1 {
  color: #93a1a1 !important;
  font-style: italic !important;
}
.pre-code .cs, html .gist .gist-file .gist-syntax .highlight pre .cs, .highlight code .cs {
  color: #93a1a1 !important;
  font-weight: bold !important;
  font-style: italic !important;
}
.pre-code .err, html .gist .gist-file .gist-syntax .highlight pre .err, .highlight code .err {
  color: #dc322f !important;
  background: none !important;
}
.pre-code .k, html .gist .gist-file .gist-syntax .highlight pre .k, .highlight code .k {
  color: #cb4b16 !important;
}
.pre-code .o, html .gist .gist-file .gist-syntax .highlight pre .o, .highlight code .o {
  color: #292f31 !important;
  font-weight: bold !important;
}
.pre-code .p, html .gist .gist-file .gist-syntax .highlight pre .p, .highlight code .p {
  color: #292f31 !important;
}
.pre-code .ow, html .gist .gist-file .gist-syntax .highlight pre .ow, .highlight code .ow {
  color: #2aa198 !important;
  font-weight: bold !important;
}
.pre-code .gd, html .gist .gist-file .gist-syntax .highlight pre .gd, .highlight code .gd {
  color: #292f31 !important;
  background-color: #efc5c4 !important;
  display: inline-block;
}
.pre-code .gd .x, html .gist .gist-file .gist-syntax .highlight pre .gd .x, .highlight code .gd .x {
  color: #292f31 !important;
  background-color: #ecb1b0 !important;
  display: inline-block;
}
.pre-code .ge, html .gist .gist-file .gist-syntax .highlight pre .ge, .highlight code .ge {
  color: #292f31 !important;
  font-style: italic !important;
}
.pre-code .gh, html .gist .gist-file .gist-syntax .highlight pre .gh, .highlight code .gh {
  color: #93a1a1 !important;
}
.pre-code .gi, html .gist .gist-file .gist-syntax .highlight pre .gi, .highlight code .gi {
  color: #292f31 !important;
  background-color: #dfe3c4 !important;
  display: inline-block;
}
.pre-code .gi .x, html .gist .gist-file .gist-syntax .highlight pre .gi .x, .highlight code .gi .x {
  color: #292f31 !important;
  background-color: #c8d093 !important;
  display: inline-block;
}
.pre-code .gs, html .gist .gist-file .gist-syntax .highlight pre .gs, .highlight code .gs {
  color: #292f31 !important;
  font-weight: bold !important;
}
.pre-code .gu, html .gist .gist-file .gist-syntax .highlight pre .gu, .highlight code .gu {
  color: #6c71c4 !important;
}
.pre-code .kc, html .gist .gist-file .gist-syntax .highlight pre .kc, .highlight code .kc {
  color: #859900 !important;
  font-weight: bold !important;
}
.pre-code .kd, html .gist .gist-file .gist-syntax .highlight pre .kd, .highlight code .kd {
  color: #268bd2 !important;
}
.pre-code .kp, html .gist .gist-file .gist-syntax .highlight pre .kp, .highlight code .kp {
  color: #cb4b16 !important;
  font-weight: bold !important;
}
.pre-code .kr, html .gist .gist-file .gist-syntax .highlight pre .kr, .highlight code .kr {
  color: #d33682 !important;
  font-weight: bold !important;
}
.pre-code .kt, html .gist .gist-file .gist-syntax .highlight pre .kt, .highlight code .kt {
  color: #2aa198 !important;
}
.pre-code .n, html .gist .gist-file .gist-syntax .highlight pre .n, .highlight code .n {
  color: #268bd2 !important;
}
.pre-code .na, html .gist .gist-file .gist-syntax .highlight pre .na, .highlight code .na {
  color: #268bd2 !important;
}
.pre-code .nb, html .gist .gist-file .gist-syntax .highlight pre .nb, .highlight code .nb {
  color: #859900 !important;
}
.pre-code .nc, html .gist .gist-file .gist-syntax .highlight pre .nc, .highlight code .nc {
  color: #d33682 !important;
}
.pre-code .no, html .gist .gist-file .gist-syntax .highlight pre .no, .highlight code .no {
  color: #b58900 !important;
}
.pre-code .nl, html .gist .gist-file .gist-syntax .highlight pre .nl, .highlight code .nl {
  color: #859900 !important;
}
.pre-code .ne, html .gist .gist-file .gist-syntax .highlight pre .ne, .highlight code .ne {
  color: #268bd2 !important;
  font-weight: bold !important;
}
.pre-code .nf, html .gist .gist-file .gist-syntax .highlight pre .nf, .highlight code .nf {
  color: #268bd2 !important;
  font-weight: bold !important;
}
.pre-code .nn, html .gist .gist-file .gist-syntax .highlight pre .nn, .highlight code .nn {
  color: #b58900 !important;
}
.pre-code .nt, html .gist .gist-file .gist-syntax .highlight pre .nt, .highlight code .nt {
  color: #268bd2 !important;
  font-weight: bold !important;
}
.pre-code .nx, html .gist .gist-file .gist-syntax .highlight pre .nx, .highlight code .nx {
  color: #b58900 !important;
}
.pre-code .vg, html .gist .gist-file .gist-syntax .highlight pre .vg, .highlight code .vg {
  color: #268bd2 !important;
}
.pre-code .vi, html .gist .gist-file .gist-syntax .highlight pre .vi, .highlight code .vi {
  color: #268bd2 !important;
}
.pre-code .nv, html .gist .gist-file .gist-syntax .highlight pre .nv, .highlight code .nv {
  color: #268bd2 !important;
}
.pre-code .mf, html .gist .gist-file .gist-syntax .highlight pre .mf, .highlight code .mf {
  color: #2aa198 !important;
}
.pre-code .m, html .gist .gist-file .gist-syntax .highlight pre .m, .highlight code .m {
  color: #2aa198 !important;
}
.pre-code .mh, html .gist .gist-file .gist-syntax .highlight pre .mh, .highlight code .mh {
  color: #2aa198 !important;
}
.pre-code .mi, html .gist .gist-file .gist-syntax .highlight pre .mi, .highlight code .mi {
  color: #2aa198 !important;
}
.pre-code .s, html .gist .gist-file .gist-syntax .highlight pre .s, .highlight code .s {
  color: #2aa198 !important;
}
.pre-code .sd, html .gist .gist-file .gist-syntax .highlight pre .sd, .highlight code .sd {
  color: #2aa198 !important;
}
.pre-code .s2, html .gist .gist-file .gist-syntax .highlight pre .s2, .highlight code .s2 {
  color: #2aa198 !important;
}
.pre-code .se, html .gist .gist-file .gist-syntax .highlight pre .se, .highlight code .se {
  color: #dc322f !important;
}
.pre-code .si, html .gist .gist-file .gist-syntax .highlight pre .si, .highlight code .si {
  color: #268bd2 !important;
}
.pre-code .sr, html .gist .gist-file .gist-syntax .highlight pre .sr, .highlight code .sr {
  color: #2aa198 !important;
}
.pre-code .s1, html .gist .gist-file .gist-syntax .highlight pre .s1, .highlight code .s1 {
  color: #2aa198 !important;
}
.pre-code div .gd, html .gist .gist-file .gist-syntax .highlight pre div .gd, .highlight code div .gd, .pre-code div .gd .x, html .gist .gist-file .gist-syntax .highlight pre div .gd .x, .highlight code div .gd .x, .pre-code div .gi, html .gist .gist-file .gist-syntax .highlight pre div .gi, .highlight code div .gi, .pre-code div .gi .x, html .gist .gist-file .gist-syntax .highlight pre div .gi .x, .highlight code div .gi .x {
  display: inline-block;
  width: 100%;
}

.highlight, .gist-highlight {
  margin-bottom: 1.8em;
  background: #f6f6f6;
  overflow-y: hidden;
  overflow-x: auto;
}
.highlight pre, .gist-highlight pre {
  background: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: none;
  padding: 0;
  margin-bottom: 0;
}

pre::-webkit-scrollbar, .highlight::-webkit-scrollbar, .gist-highlight::-webkit-scrollbar {
  height: .5em;
  background: rgba(0, 0, 0, 0.15);
}
pre::-webkit-scrollbar-thumb:horizontal, .highlight::-webkit-scrollbar-thumb:horizontal, .gist-highlight::-webkit-scrollbar-thumb:horizontal {
  background: rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.highlight code {
  background: #000;
}

figure.code {
  background: none;
  padding: 0;
  border: 0;
  margin-bottom: 1.5em;
}
figure.code pre {
  margin-bottom: 0;
}
figure.code figcaption {
  position: relative;
}
figure.code .highlight {
  margin-bottom: 0;
}

.code-title, html .gist .gist-file .gist-meta a[href*='#file'], h3.filename, figure.code figcaption {
  text-align: center;
  font-size: 13.81px;
  line-height: 2em;
  text-shadow: #cbcccc 0 1px 0;
  color: #474747;
  font-weight: normal;
  margin-bottom: 0;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Helvetica Neue", Arial, "Lucida Grande", "Lucida Sans Unicode", Lucida, sans-serif;
  background: #aaaaaa url('/images/code_bg.png?1494438149') top repeat-x;
  border: 1px solid #565656;
  border-top-color: #cbcbcb;
  border-left-color: #a5a5a5;
  border-right-color: #a5a5a5;
  border-bottom: 0;
}

.download-source, html .gist .gist-file .gist-meta a[href*=raw], figure.code figcaption a {
  position: absolute;
  right: .8em;
  text-decoration: none;
  color: #666 !important;
  z-index: 1;
  font-size: 13.81px;
  text-shadow: #cbcccc 0 1px 0;
  padding-left: 3em;
}
.download-source:hover, html .gist .gist-file .gist-meta a[href*=raw]:hover, figure.code figcaption a:hover {
  text-decoration: underline;
}

#archive #content > div, #archive #content > div > article {
  padding-top: 0;
}

#blog-archives {
  color: #aaaaaa;
}
#blog-archives article {
  padding: 1em 0 1em;
  position: relative;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x;
}
#blog-archives article:last-child {
  background: none;
}
#blog-archives article footer {
  padding: 0;
  margin: 0;
}
#blog-archives h1 {
  color: #222222;
  margin-bottom: .3em;
}
#blog-archives h2 {
  display: none;
}
#blog-archives h1 {
  font-size: 1.5em;
}
#blog-archives h1 a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
  display: inline-block;
}
#blog-archives h1 a:hover {
  text-decoration: underline;
}
#blog-archives h1 a:hover {
  color: #ff6557;
}
#blog-archives a.category, #blog-archives time {
  color: #aaaaaa;
}
#blog-archives .entry-content {
  display: none;
}
#blog-archives time {
  font-size: .9em;
  line-height: 1.2em;
}
#blog-archives time .month, #blog-archives time .day {
  display: inline-block;
}
#blog-archives time .month {
  text-transform: uppercase;
}
#blog-archives p {
  margin-bottom: 1em;
}
#blog-archives a, #blog-archives .entry-content a {
  color: inherit;
}
#blog-archives a:hover, #blog-archives .entry-content a:hover {
  color: #ff6557;
}
#blog-archives a:hover {
  color: #ff6557;
}
@media only screen and (min-width: 550px) {
  #blog-archives article {
    margin-left: 5em;
  }
  #blog-archives h2 {
    margin-bottom: .3em;
    font-weight: normal;
    display: inline-block;
    position: relative;
    top: -1px;
    float: left;
  }
  #blog-archives h2:first-child {
    padding-top: .75em;
  }
  #blog-archives time {
    position: absolute;
    text-align: right;
    left: 0em;
    top: 1.8em;
  }
  #blog-archives .year {
    display: none;
  }
  #blog-archives article {
    padding-left: 4.5em;
    padding-bottom: .7em;
  }
  #blog-archives a.category {
    line-height: 1.1em;
  }
}

#content > .category article {
  margin-left: 0;
  padding-left: 6.8em;
}
#content > .category .year {
  display: inline;
}

.side-shadow-border, aside.sidebar section h1, aside.sidebar li {
  -webkit-box-shadow: white 0 1px;
  -moz-box-shadow: white 0 1px;
  box-shadow: white 0 1px;
}

aside.sidebar {
  overflow: hidden;
  color: #4c4c4c;
  text-shadow: white 0 1px;
}
aside.sidebar .centered {
  margin-left: 5px;
}
aside.sidebar section {
  font-size: .8em;
  line-height: 1.4em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
aside.sidebar section h1 {
  margin: 1.5em 0 0;
  padding-bottom: .2em;
  border-bottom: 1px solid #e2e2e2;
}
aside.sidebar section h1 + p {
  padding-top: .4em;
}
aside.sidebar ul {
  margin-bottom: 0.5em;
  margin-left: 0;
}
aside.sidebar li {
  list-style: none;
  padding: .5em 0;
  margin: 0;
  border-bottom: 1px solid #e2e2e2;
}
aside.sidebar li p:last-child {
  margin-bottom: 0;
}
aside.sidebar a {
  color: inherit;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
aside.sidebar:hover a {
  color: #21afd3;
}
aside.sidebar:hover a:hover {
  color: #ff6557;
}
aside.sidebar video {
  margin-top: .5em;
}

.aside-alt-link, #pinboard_linkroll .pin-tag {
  color: #7f7f7f;
}
.aside-alt-link:hover, #pinboard_linkroll .pin-tag:hover {
  color: #ff6557;
}

@media only screen and (min-width: 768px) {
  .toggle-sidebar {
    outline: none;
    position: absolute;
    right: -10px;
    top: 0;
    bottom: 0;
    display: inline-block;
    text-decoration: none;
    color: #cfcfcf;
    width: 9px;
    cursor: pointer;
  }
  .toggle-sidebar:hover {
    background: #ebebeb;
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(226, 226, 226, 0.5)), color-stop(100%, rgba(226, 226, 226, 0)));
    background: -webkit-linear-gradient(left, rgba(226, 226, 226, 0.5), rgba(226, 226, 226, 0));
    background: -moz-linear-gradient(left, rgba(226, 226, 226, 0.5), rgba(226, 226, 226, 0));
    background: -o-linear-gradient(left, rgba(226, 226, 226, 0.5), rgba(226, 226, 226, 0));
    background: linear-gradient(left, rgba(226, 226, 226, 0.5), rgba(226, 226, 226, 0));
  }
  .toggle-sidebar:after {
    position: absolute;
    right: -11px;
    top: 0;
    width: 20px;
    font-size: 1.2em;
    line-height: 1.1em;
    padding-bottom: .15em;
    -moz-border-radius-bottomright: 0.3em;
    -webkit-border-bottom-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    text-align: center;
    background: white;
    border-bottom: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    content: "\00BB";
    text-indent: -1px;
  }
  .collapse-sidebar .toggle-sidebar {
    text-indent: 0px;
    right: -20px;
    width: 19px;
  }
  .collapse-sidebar .toggle-sidebar:hover {
    background: #ebebeb;
  }
  .collapse-sidebar .toggle-sidebar:after {
    border-left: 1px solid #e2e2e2;
    text-shadow: #fff 0 1px;
    content: "\00AB";
    left: 0px;
    right: 0;
    text-align: center;
    text-indent: 0;
    border: 0;
    border-right-width: 0;
    background: none;
  }
}
.donate-qr {
  text-align: center;
  font-family: Lucida Sans Unicode,Arial,Sans-Serif;
  font-size: 11.06px;
  text-shadow: none;
  word-wrap: break-word;
  margin-top: 1em;
}

#tipjar-div {
  text-align: center;
  margin-top: 10px;
  line-height: 1.2em;
  color: #202020;
  position: relative;
}

#tipjar-div #tip-hand {
  position: absolute;
  left: 84px;
  top: -52px;
  visibility: hidden;
}

.tip-hint {
  margin-bottom: 12px;
}

.tip-logo {
  margin: 0px auto;
  display: block;
}

a:hover #tipjar-div #tip-hand,
a:active #tipjar-div #tip-hand {
  visibility: visible;
}

.googleplus h1 {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: 0px none !important;
}
.googleplus a {
  text-decoration: none;
  white-space: normal !important;
  line-height: 32px;
}
.googleplus a img {
  float: left;
  margin-right: 0.5em;
  border: 0 none;
}

.googleplus-hidden {
  position: absolute;
  top: -1000em;
  left: -1000em;
}

#pinboard_linkroll .pin-title, #pinboard_linkroll .pin-description {
  display: block;
  margin-bottom: .5em;
}
#pinboard_linkroll .pin-tag {
  text-decoration: none;
}
#pinboard_linkroll .pin-tag:hover {
  text-decoration: underline;
}
#pinboard_linkroll .pin-tag:after {
  content: ',';
}
#pinboard_linkroll .pin-tag:last-child:after {
  content: '';
}

.delicious-posts a.delicious-link {
  margin-bottom: .5em;
  display: block;
}
.delicious-posts p {
  font-size: 1em;
}

body > footer {
  font-size: .8em;
  color: #888888;
  text-shadow: #eaeaea 0 1px;
  background-color: #dddddd;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f1), color-stop(50%, #dddddd), color-stop(100%, #c9c9c9));
  background: -webkit-linear-gradient(#f1f1f1, #dddddd, #c9c9c9);
  background: -moz-linear-gradient(#f1f1f1, #dddddd, #c9c9c9);
  background: -o-linear-gradient(#f1f1f1, #dddddd, #c9c9c9);
  background: linear-gradient(#f1f1f1, #dddddd, #c9c9c9);
  border-top: 1px solid white;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  z-index: 1;
}
body > footer a {
  color: #7c7c7c;
}
body > footer a:visited {
  color: #7c7c7c;
}
body > footer a:hover {
  color: #484848;
}
body > footer p:last-child {
  margin-bottom: 0;
}

/*
  Add plugin stylesheets to this directory and they will be automatically
  Imported. Load order is alphabetical and styles can be overriden in
  custom/_style.scss which is loaded after all plugin stylesheets.
*/
.embed-video-container {
  text-align: center;
}

/* fixes issue where the whole line wouldn't get colored in a diff */
.CodeRay span.insert, .CodeRay span.change, .CodeRay span.delete {
  width: auto;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

article {
  font-size: 95%;
}
article div.entry-content {
  overflow: hidden;
}
article a, article a:visited {
  color: #21afd3;
}
article a:active, article a:hover {
  color: #ff6557;
}

span.highlight {
  background-color: #ffff70;
}

div.code-overlay {
  position: absolute;
  right: 40px;
}

article div.linkPanelSet {
  text-align: center;
  margin-bottom: 0.5em;
}
article div.linkPanelSet div {
  width: 200px;
  display: inline-block;
  text-align: center;
  font-size: 95%;
  line-height: 1.1em;
  margin: 0 2em 1.5em 2em;
}

img.code-overlay {
  position: relative;
  top: -10px;
}

article .xkcd_panel {
  text-align: center;
  margin-bottom: 1.5em;
}

article p#xkcd_pw_gen_result {
  font: bold 1.5em "Courier New", Courier, monospace;
  margin-bottom: 0.8em;
  color: #000066;
}

article .verdict {
  text-align: center;
  margin-bottom: 0.9em;
  font: bold 1.5em "Courier New", Courier, monospace;
  color: #6c6c9a;
}

.panel_note {
  background-color: #fffff4;
  border: solid 1px #e6e6e6;
  margin: 0 auto 1.5em;
  padding: 0.7em 1em;
  width: 80%;
}
.panel_note ul {
  margin-bottom: 0;
}

.CodeRay {
  background-color: #efefef;
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  color: #000;
  margin-bottom: 14px;
}

.CodeRay pre {
  margin: 0px;
  padding: 1em;
}

span.CodeRay {
  white-space: pre;
  border: 0px;
  padding: 2px;
}

table.CodeRay {
  border-collapse: collapse;
  width: 100%;
  padding: 2px;
}

table.CodeRay td {
  padding: 1em 0.5em;
  vertical-align: top;
}

.CodeRay .line-numbers, .CodeRay .no {
  background-color: #ECECEC;
  color: #AAA;
  text-align: right;
}

.CodeRay .line-numbers a {
  color: #AAA;
}

.CodeRay .line-numbers tt {
  font-weight: bold;
}

.CodeRay .line-numbers .highlighted {
  color: red;
}

.CodeRay .line {
  display: block;
  float: left;
  width: 100%;
}

.CodeRay span.line-numbers {
  padding: 0px 4px;
}

.CodeRay .code {
  width: 100%;
}

ol.CodeRay {
  font-size: 10pt;
}

ol.CodeRay li {
  white-space: pre;
}

.CodeRay .code pre {
  overflow: auto;
}

.CodeRay .debug {
  color: white !important;
  background: blue !important;
}

.CodeRay .annotation {
  color: #000077;
}

.CodeRay .attribute-name {
  color: #ff0088;
}

.CodeRay .attribute-value {
  color: #770000;
}

.CodeRay .binary {
  color: #509;
  font-weight: bold;
}

.CodeRay .comment {
  color: #998;
  font-style: italic;
}

.CodeRay .char {
  color: #0044dd;
}

.CodeRay .char .content {
  color: #0044dd;
}

.CodeRay .char .delimiter {
  color: #003399;
}

.CodeRay .class {
  color: #458;
  font-weight: bold;
}

.CodeRay .complex {
  color: #A08;
  font-weight: bold;
}

.CodeRay .constant {
  color: teal;
}

.CodeRay .color {
  color: #00aa00;
}

.CodeRay .class-variable {
  color: #336699;
}

.CodeRay .decorator {
  color: #B0B;
}

.CodeRay .definition {
  color: #099;
  font-weight: bold;
}

.CodeRay .directive {
  color: #088;
  font-weight: bold;
}

.CodeRay .delimiter {
  color: black;
}

.CodeRay .doc {
  color: #997700;
}

.CodeRay .doctype {
  color: #3344bb;
}

.CodeRay .doc-string {
  color: #D42;
  font-weight: bold;
}

.CodeRay .escape {
  color: #666;
  font-weight: bold;
}

.CodeRay .entity {
  color: #800;
  font-weight: bold;
}

.CodeRay .error {
  color: #F00;
  background-color: #ffaaaa;
}

.CodeRay .exception {
  color: #C00;
  font-weight: bold;
}

.CodeRay .filename {
  color: #099;
}

.CodeRay .function {
  color: #900;
  font-weight: bold;
}

.CodeRay .global-variable {
  color: teal;
  font-weight: bold;
}

.CodeRay .hex {
  color: #058;
  font-weight: bold;
}

.CodeRay .integer {
  color: #099;
}

.CodeRay .include {
  color: #B44;
  font-weight: bold;
}

.CodeRay .inline {
  color: black;
}

.CodeRay .inline .inline {
  background: #cccccc;
}

.CodeRay .inline .inline .inline {
  background: #bbbbbb;
}

.CodeRay .inline .inline-delimiter {
  color: #D14;
}

.CodeRay .inline-delimiter {
  color: #D14;
}

.CodeRay .important {
  color: #f00;
}

.CodeRay .interpreted {
  color: #B2B;
  font-weight: bold;
}

.CodeRay .instance-variable {
  color: teal;
}

.CodeRay .label {
  color: #970;
  font-weight: bold;
}

.CodeRay .local-variable {
  color: #996633;
}

.CodeRay .octal {
  color: #40E;
  font-weight: bold;
}

.CodeRay .predefined-constant {
  font-weight: bold;
}

.CodeRay .predefined {
  color: #369;
  font-weight: bold;
}

.CodeRay .preprocessor {
  color: #579;
}

.CodeRay .pseudo-class {
  color: #00C;
  font-weight: bold;
}

.CodeRay .predefined-type {
  color: #074;
  font-weight: bold;
}

.CodeRay .reserved, .keyword {
  color: #000;
  font-weight: bold;
}

.CodeRay .key {
  color: #808;
}

.CodeRay .key .delimiter {
  color: #606;
}

.CodeRay .key .char {
  color: #80f;
}

.CodeRay .value {
  color: #088;
}

.CodeRay .regexp {
  background-color: #fff0ff;
}

.CodeRay .regexp .content {
  color: #880088;
}

.CodeRay .regexp .delimiter {
  color: #440044;
}

.CodeRay .regexp .modifier {
  color: #cc22cc;
}

.CodeRay .regexp .function {
  color: #404;
  font-weight: bold;
}

.CodeRay .string {
  color: #D20;
}

.CodeRay .string .string .string {
  background-color: #ffd0d0;
}

.CodeRay .string .content {
  color: #D14;
}

.CodeRay .string .char {
  color: #D14;
}

.CodeRay .string .delimiter {
  color: #D14;
}

.CodeRay .shell {
  color: #dd1144;
}

.CodeRay .shell .delimiter {
  color: #dd1144;
}

.CodeRay .symbol {
  color: #990073;
}

.CodeRay .symbol .content {
  color: #aa6600;
}

.CodeRay .symbol .delimiter {
  color: #663300;
}

.CodeRay .tag {
  color: #007700;
}

.CodeRay .tag-special {
  color: #D70;
  font-weight: bold;
}

.CodeRay .type {
  color: #339;
  font-weight: bold;
}

.CodeRay .variable {
  color: #003366;
}

.CodeRay .insert {
  background: #afa;
}

.CodeRay .delete {
  background: #faa;
}

.CodeRay .change {
  color: #aaf;
  background: #007;
}

.CodeRay .head {
  color: #f8f;
  background: #550055;
}

.CodeRay .insert .insert {
  color: #080;
  font-weight: bold;
}

.CodeRay .delete .delete {
  color: #800;
  font-weight: bold;
}

.CodeRay .change .change {
  color: #66f;
}

.CodeRay .head .head {
  color: #f4f;
}

article table {
  margin-left: auto;
  margin-right: auto;
}

article table.small {
  font-size: 76%;
}

article table.grid tr, article table.grid th, article table.grid td {
  border: solid 1px #d8d8d8;
  line-height: 1.2em;
}
article table.grid th, article table.grid td {
  padding: 2px 8px;
}
article table.grid th {
  text-align: center;
  font-weight: bold;
  background-color: #e8e8e8;
}

article table.mintomic-intro {
  width: 75%;
}
article table.mintomic-intro td {
  text-align: center;
  vertical-align: bottom;
}

article table#cpu-chart th:nth-child(1) {
  width: 6em;
}
article table#cpu-chart th:nth-child(2) {
  width: 5em;
}

article table#shake th:nth-child(1) {
  width: 4.5em;
}

article form#contactform div.area {
  max-width: 650px;
  padding: 4px 10px;
  margin-left: auto;
  margin-right: auto;
}
article form#contactform span.label {
  vertical-align: top;
  display: inline-block;
  width: 100px;
}
article form#contactform .textfield {
  width: 100%;
  max-width: 300px;
}
article form#contactform textarea {
  width: 100%;
  height: 250px;
  max-height: 500px;
  resize: vertical;
}
article form#contactform div.entry {
  width: 100%;
  max-width: 500px;
  display: inline-block;
}

#comment-section {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') top left repeat-x;
  padding-top: 0.5em;
  margin-top: 1.5em;
}

#idc-container-parent #idc-container .idc-foot {
  border-top: none;
}
#idc-container-parent #idc-container div {
  line-height: 1.4em;
}
